*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height:100vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center
}
.main{
    width:65%;
    /* height: 35%; */
    border: 2px solid green; 
    display: flex;  
    flex-direction: column;
    box-shadow: 10px 12px 20px 20px gray;
}
.input-output{
    display: flex;

}
.input{
    width: 40%;
    padding: 12px 12px;
    /* border: 2px solid red; */
}
.input-output input{
    width: 100%;
    padding: 2%;
    margin: 12px 12px;
}
.output{
    width: 40%;
    padding: 12px;
    /* border: 2px solid red; */
    margin-left:10.5%;
    padding-top: 35px;
}
#TotalOutput{
    text-align: center;
    padding: 1.5%;
    font-size: larger
    /* font-weight:1000; */
}
.main-output{
    padding: 12px;
    margin: 2px;
}
#btn{
    margin-bottom: 2%;
    /* padding: 4px; */
    border-radius: 5px;
    background-color: blue;
    color: white;
    padding: 1%;
}
